<div class="col m-0 p-0">
    <div class="jumbotron text-center">
        <img src="images/logo.png" alt="logo" class="img-fluid">
        <p class="display-3">About US</p>
        <hr class="my-4">
        <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium beatae harum, hic consequatur labore sed, fuga
            ad excepturi quis velit earum eius expedita! Deleniti necessitatibus molestiae inventore dolorum minus itaque!</p>
        <button class="btn btn-lg btn-dark">About the company</button>
        <button class="btn btn-lg btn-dark">Developers</button>
        <button class="btn btn-lg btn-dark">Start Analysing</button>
    </div>
</div>