<div class="col m-0 p-0">
    <div class="jumbotron text-justify p-5">
        <img src="images/logo_sy.png" alt="logo" class="img-fluid w-50">
        <hr class="my-4">
        <p class="display-5 p-2"> Our endeavor is motivated by the need for greener vehicles and structures. Alongside reduction in emissions, this
            also means increase of efficiency. One way to achieve an increase in efficiency is by weight reduction of structures.
            We propose drastic reduction in structural weight through the usage of composite materials.
            <br>
            <br> Design of composite materials is complicated to model taking several days for a single simulation. In addition,
            traditional tools can be extremely slow unless approximations like beams-plates-shells are used.
            <br>
            <br> SYmbosim was motivated by this need for high-fidelity but computationally-quick tools. SYmbosim is 1000X faster
            and provides lightning-quick solutions to design problems involving composite materials.
        </p>
        <br>
        <button class="btn btn-lg btn-dark">About the company</button>
        <button class="btn btn-lg btn-dark">Developers</button>
        <button class="btn btn-lg btn-dark">Start Analysing</button>
    </div>
</div>