
<div class="d-flex">
    <div class="container">
        <div class="row m-auto p-auto">
            <div class="col">
                <p>Select a File to upload</p>
                <form>
                    <input type="file" class="form-input-file" name="Browse" id="file" accept=".txt,model/mesh">
                </form>
            </div>
        </div>
        <br class="my-2">
        <h5 class="m-auto p-auto">Or enter the Mesh</h5>
        <br class="my-2">

        <div class="row m-auto p-auto">
            <form id="inputs" class="w-100">
                <div class="form-row">
                    <div class="col">
                        <label>Symbol desc</label>
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                </div>

            </form>
        </div>

        <div class="btn-group m-auto" role="group" aria-label="Basic example">
            <button type="button" onclick="add(&quot;inputs&quot;)" class="btn btn-success">Add</button>
            <button type="submit" class="btn btn-primary" form="inputs">Submit</button>
        </div>
    </div>

</div>