<div class="text-center">
    <form action="/register" method="post" class="pt-5">
        <label>Name:</label>
        <input type="text" placeholder="Username" name="name">
        <br>
        <label>Password:</label>
        <input type="password" placeholder="password" name="password">
        <br>
        <label>Comfirm Password:</label>
        <input type="password" placeholder="password" name="password2">
        <br>
        <input type="submit" value="SignUp" class="btn btn-primary m-3">
    </form>
    <img src='https://filestore.currycomb65.hasura-app.io/v1/file/<file_id>' />
</div>