<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
	<body class="text-center">
			<form action="/login" method="post" class="pt-5">
				<input type="text" placeholder="Username" name="username">
				<input type="password" placeholder="password" name="password"><br>
				<input type="submit" value="Login" class="btn btn-primary m-3">
			</form>
			</body>
</html>

