<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body class="text-center">
	<form action="/register" method="post" class="pt-5">
		<input type="text" placeholder="Username" name="username">
		<input type="password" placeholder="password" name="password"><br>
		<input type="submit" value="SignUp" class="btn btn-primary m-3">
	</form>
	<img src='https://filestore.currycomb65.hasura-app.io/v1/file/<file_id>'/>
</body>
</html>
