<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark mr-auto justify-content-between">
    <div class="navbar-nav">
        <a href="#" class="brand nav-link"><img src="some.png" alt="LOGO"></a>
        <a href="#" class="nav-item nav-link">About</a>
        <a href="#" class="nav-item nav-link">Features</a>
        <a href="#" class="nav-item nav-link">Pricing</a>
        <a href="#" class="nav-item nav-link">Support</a>
    </div>
    <div class="navbar-nav">
        <a href="#" class="nav-item nav-link">Login</a>
        <a class="nav-item nav-link" >My Account</a>
    </div>
</nav>