<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark mr-auto justify-content-between">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" class="align-middle" height="30" alt="LOGO">
        </a>
        <a href="about" class="nav-item nav-link">About</a>
        <a href="#" class="nav-item nav-link">Features</a>
        <a href="#" class="nav-item nav-link">Pricing</a>
        <a href="#" class="nav-item nav-link">Support</a>
    </div>
    <div class="navbar-nav">
        <a href="login" class="nav-item nav-link">Login</a>
        <a href="register" class="nav-item nav-link">Register</a>
        <a href="profile" class="nav-item nav-link">{myName}</a>
    </div>
</nav>