
<div class="container-fluid">


    <div class="collapse in show">
        <div class="list-group panel">
            <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-sm-down">Preference</span>
            </a>
            <div class="collapse" id="menu1">
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Structural">Structural</a>
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Thermal">Thermal</a>
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Fluid">Fluid </a>
            </div>
            <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false" id="Preprocessor">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-sm-down">Preprocessor</span>
            </a>
            <div class="collapse" id="menu2">
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Ropts">Radiation opts</a>
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Vopts">Velocity opts</a>
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="Sections">Sections</a>
            </div>
            <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-sm-down">Solver</span>
            </a>
            <div class="collapse" id="menu3">
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="General">General</a>
                <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false" id="ast">Additional Solver Types</a>
                <!-- <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">Fluent </a> -->
            </div>
        </div>
    </div>

<script type="text/javascript">
    // console.log(user);
    $("#Thermal").click(function () {
        // alert("asodp");
        // $("#Vopts").toggle();
        // $("#Ropts").removeClass("dispn");
        // $("#ast").toggle();
        // $("#Preprocessor").toggleClass("collapsed");
        $("#Vopts").hide();
        $("#Ropts").show();
        $("#Sections").show();
        $("#ast").hide();

        $("#Thermal").addClass("bg-gray");
        $("#Structural").removeClass("bg-gray");
        $("#Fluid").removeClass("bg-gray");
    })
    $("#Structural").click(function () {
        // alert("asodp");
        // $("#Vopts").toggle();
        // $("#Ropts").toggle();
        // $("#ast").toggle();
        $("#Thermal").removeClass("bg-gray");
        $("#Structural").addClass("bg-gray");
        $("#Fluid").removeClass("bg-gray");
        $("#Vopts").hide();
        $("#Ropts").hide();
        $("#Sections").show();
        $("#ast").hide();
    })
    $("#Fluid").click(function () {
        // alert("asodp");

        $("#Thermal").removeClass("bg-gray");
        $("#Structural").removeClass("bg-gray");
        $("#Fluid").addClass("bg-gray");
        $("#Vopts").show();
        $("#Ropts").hide();
        $("#Sections").show();
        $("#ast").show();
    })
    
</script>
</div>
